{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Information for participation in an experiment</p>
{% endblock %}

{% block content %}

    <p>
        This study has been approved by the research ethics committee of the Institute of Psychology, Leiden University. This letter will explain what the study is about and what you can expect if you choose to participate.
    </p>

    <p>
        <b>Criteria for participation</b> <br />
        To participate in this study, you should be over the age of 16, and have a good command of English, since the instructions and questions will all be in English.
    </p>

    <p>
        <b>Aim and design of the study</b> <br />
        In this study we investigate how people make decisions in a group setting.
    </p>

    <p>
        <b>Possible disadvantages of participation</b> <br />
        Participating in the research is harmless, comparable to spending half an hour of focused time playing a computer game. The only downside of participation is your time investment in this study.
    </p>

    <p>
        <b>Procedure, duration and compensation</b> <br />
        You will participate in a single session of approximately 30 minutes. At the beginning of the session, you are asked to choose a nickname (that does not resemble your actual first or last name) that will be visible to the other players. You will then be given instructions to the game and are asked a few questions to ensure that you understand them. Once everyone in the group has finished reading the instructions, the game will begin, which investigates the decision-making behaviour of individual players in a group setting. After the game has finished you will be asked to fill in some questionnaires.
        Upon completion of the entire experiment, you will be fully debriefed and receive your compensation.
    </p>

    <p>
        The study consists of a computer task. You must be able to concentrate well and have the full attention for the duration of the experiment. The experimental session will take approximately 30 minutes, and you must finish in one sitting. For your participation in this study, you will receive 1.5 credits or a financial payment.
    </p>

    <p>
        <b>Voluntary participation</b> <br />
        Participation in this study is completely voluntary. This means that you can stop at any time, without explanation, and without consequences for you. If you decide to end your participation before the experiment has been completed, you will be compensated for the time that you have already spent (rounded to the nearest 15 minutes, by means of 1 credit per half an hour).
    </p>

    <p>
        <b>Confidentiality</b> <br />
        All information you provide will be treated as strictly private. Your data will be processed and stored in a coded way, by assigning it a unique code rather than your name. Raw data of your answers will only be stored on internal university servers, and only summary data will be shared publicly.
    </p>

    <p>
        The data you provide will be used for scientific research. We may share these coded data with other researchers, or via publicly accessible online repositories. If you do not agree to make your coded research data publicly accessible, you cannot participate in this study. 
    </p>

    <p>
        <b>Contact information for questions or complaints</b> <br />
        You can contact Dr. Anne Urai at a.e.urai@fsw.leidenuniv.nl for any questions or complaints about the research. 
        You can also contact the University Data Protection Officer at privacy@bb.leidenuniv.nl for questions about data handling and privacy.
    </p>

    <br>

    <div style="text-align: center">{% next_button %}</div>

{% endblock %}